/***************************************************************************************************/
/* GENERAL LAYOUT */
/***************************************************************************************************/

@font-face {
  font-family: 'Header';
  src: url('assets/fonts/Fredoka_SemiCondensed-Bold.ttf');
}

@font-face {
  font-family: 'Copy';
  src: url('assets/fonts/Quicksand-Medium.ttf');
}

@font-face {
  font-family: 'Copy bold';
  src: url('assets/fonts/Quicksand-Bold.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #fff5d2;
  line-height: 1.7;
  font-family: 'Copy', sans-serif;
  color: #001e46;
}

h1 {
  text-align: center;
  font-family: 'Header', sans-serif;
  letter-spacing: 2px;
  line-height: 1;
  color: #ff828c;
  font-size: xx-large;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  font-family: 'Header', sans-serif;
  letter-spacing: 2px;
  line-height: 1;
  color:#d2aa2e;
  font-size: larger;
}

h3 {
  text-align: left;
  font-family: 'Copy', sans-serif;
  letter-spacing: 2px;
  line-height: 1;
  color:#ff828c;
  font-size: large;
}

/* ------------ MENU BOX LAYOUT ------------ */


.headerbox {
  position: sticky;
  top: 0%;
  z-index: 100;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff5d2;
  align-items: center;
  width: 61%;
  margin: auto;
  line-height: 0.2;             /* Reduce line height */

}

.headerbox a {
  font-family: 'Header', sans-serif;
  padding: 10px;
  font-size: x-large;
  text-decoration: none;
  color: #001e46;
}

.headerbox a:hover {
  color: #ff828c;
}

.headerboxinner1 {
  flex: 0 0 auto; /* don’t shrink the logo, keep it its natural size */
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.headerboxinner1 img {
  height: 80px;
  width: auto;
  margin-left: 50px;
}

.headerboxinner2 {
  flex: 1 1 0; /* take remaining space, allow wrapping */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 30px;
}

.headerbox_socials {
  width: 60%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 10px;
  position: relative;
  top: 0%;
  z-index: 50;
  background-color: #fff5d2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.headerbox_socials a {
  font-family: 'Copy bold', sans-serif;
  padding: 5px;
  padding-left: 10px;
  font-size: large;
  text-decoration: none;
  color: #ff828c;
  height: 100%;
  display: flex;
  align-items: center;
}

.headerbox_socials img {
  padding: 5px;
}

.headerbox_submenu {
  width: 60%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 10px;
  position: relative;
  top: 0%;
  z-index: 50;
  background-color: #fff5d2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.headerbox_submenu a {
  font-family: 'Copy bold', sans-serif;
  padding: 5px;
  padding-left: 10px;
  font-size: large;
  text-decoration: none;
  color: #ff828c;
  height: 100%;
  display: flex;
  align-items: center;
}

.headerbox_submenu a:hover {
  color: #001e46;
}

/* ------------ MAIN BOX LAYOUT ------------ */

.box {
  display: flex;
  width: 60%;
  margin: auto;
  background-color: #f9f9f9;
}

.box a:hover {
  color: #001e46;
}

.boxinner1 {
  width: 60%;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #f9f9f9;
}

.boxinner2 {
  width: 40%;
  background-color: #f9f9f9;
}

.boxinner1 img,
.boxinner2 img {
  width: 100%;
  height: auto;
  display: block;
}

.boxinner1 a, .boxinner2 a {
  font-family: 'Copy bold', sans-serif;
  font-size: large;
  text-decoration: none;
  color: #ff828c;
}

.boxinner1 b1 {
  color: #ff828c;
  font-family: 'Header', sans-serif;
}

.boxinner1 b2 {
  color: #ff828c;
}

.boxinner1 b3 {
  color: #001e46;
  font-family: 'Copy bold', sans-serif;
}

.boxinner1 b4 {
  color: #ff828c;
  font-family: 'Copy bold', sans-serif;
  font-size: smaller;
}


.innerflex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

hr {
  border: none;
  border-top: 7px double #ff828c;
  width: 50%;
  margin: 20px auto;
}

.boxinner1inner {
  width: 45%;
}

.boxinner1 img, .boxinner2 img {
  object-fit: contain;
}

iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
}

.boximprint {
  width: 80%;
  margin: auto;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #f9f9f9;
}

/* ------------ MAIN BOX LAYOUT ------------ */

.footerbox {
  position: sticky;
  bottom: 0%;
  z-index: 100;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff5d2;
  align-items: center;
  width: 61%;
  margin: auto;
  line-height: 0.2;
  padding: 20px;

}

.footerbox a{
  font-family: 'Copy bold', sans-serif;
  font-size: large;
  text-decoration: none;
  color: #ff828c;
}

.footerbox a:hover {
  color: #001e46;
}

/***************************************************************************************************/
/* RESPONSIVENESS */
/***************************************************************************************************/

@media only screen and (max-width: 1000px) {
  .headerbox,
  .box, .headerbox_socials {
    width: 100%;
    padding-top: 10px;
  }

  .footerbox {
    position: unset;
  }

  .headerbox {
    position: unset;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .headerbox_socials {
    display: flex;
    flex-wrap: wrap;
  }

  .headerbox_socials a{
    font-size: 0px;
    padding: 0%;
  }

  .headerbox_submenu {
    display: flex;
    flex-wrap: wrap;
  }


  .headerboxinner1, .headerboxinner2 {
    width: 100%;
  }
  
  .headerboxinner1 img {
    width: 80%;
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  .headerboxinner2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 100;
  }

  .headerbox_submenu a{
    line-height: 0.8;
    font-size: small;
    font-family: 'Copy bold', sans-serif;
  }

  .headerbox a {
    padding: 0;
    font-size: medium;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .boxinner1,
  .boxinner2 {
    width: 100%;
    text-align: center;
  }

  .boxinner1 {
    padding: 20px;
  }

  .boxinner1 img,
  .boxinner2 img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
  }
  iframe {
    width: 280px;
    height: 157px;
  }
}
